
.scroll-to-top{
    background-color:rgba(128 ,128 ,128 , 0.5);
    right: 30px;
    bottom: 40px;
    position: fixed;
    z-index: 12;
    cursor: pointer;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    transition: all 0.15s ease-in-out;
    border: none;
    outline: none;
}

.scroll-to-top:hover{
    background-color:rgba(3,39,55, 0.3);
    width: 50px;
    height: 50px;
    bottom: 35px;
    right: 25px;
    border: 15px;
}