
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900";

/* ----------------------------------------------------------- */
/* COLOR VARIABLES */
/* ----------------------------------------------------------- */
#root{
    width: 100%;
    padding: 0;
    margin: 0;
}
body{
	--primary-color: #bf7c2f;
	--secondary-color: #032737;
	--primary-alpha-Dot75: rgba(191, 124, 47, 0.75);
	--primary-alpha-Dot50: rgba(191, 124, 47, 0.50);
	--primary-alpha-Dot10: rgba(191, 124, 47, 0.10);
	--secondary-alpha-Dot50: rgba(3, 39, 55, 0.50);
    --secondary-alpha-Dot85: rgba(3, 39, 55, 0.85);
    margin: 0;
}

/* ----------------------------------------------------------- */
/* COMMON STYLES */
/* ----------------------------------------------------------- */

body{
	font-family: Montserrat,sans-serif !important;
}

small{
	font-weight: 300;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding-left: 10px;
}

/* Cover */

.cover {
    background-image: url('../image/bg-img-1.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #222;
    overflow: hidden;
    position: relative;
}

.background-image {
    background-color: var(--secondary-alpha-Dot85);
    width: 100%;
    height: 450px;
    z-index: 1;
    position: relative!important;
    justify-content: center;
    display: flex;
}

.text-center {
    margin-top: auto!important;
    margin-bottom: auto!important;
    margin-left: auto!important;
    margin-right: auto!important;
    text-align: center!important;
    width: 100%;
}

.text-center h1{
    color: white !important;
    font-weight: 700;
    font-size: 50px;
    margin: 0px 0px 20px 0px;
    line-height: 1.2;
}

.text-center h2 {
    color: rgb(255, 255, 255, 0.80) !important;
    font-weight: 700;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
    line-height: 1.2;
}

.text-center h4 {
    color: rgba(255, 255, 255, 0.60) !important;
    margin-bottom: 40px!important;
    margin-top: 10px!important;
    font-size: 1.25rem;
    line-height: 1.4;
}

.text-center .button-contact {
    color: #ffffff !important;
    font-weight: 600 !important;
    background-color: var(--primary-color) !important;
    text-decoration: none;
    transition: all .2s ease-in-out;
    padding: 13px 40px;
    line-height: 53px;
    font-size: 1.25rem;
    border: 1px solid transparent;
    border-radius: 500px;
}

.text-center .button-contact:hover {
    background-color: #ffffff !important;
    color: var(--primary-color) !important;
}

/* Search bar */

.search-box {
    background-color: #fdfdfd;
    border-bottom: 1px solid #ddd;
}

.search-box-container {
    margin: auto;
    padding: 0 30px;
    max-width: 90vw;
    padding-top: 60px;
    padding-bottom: 60px;
}

.title {
    margin-top: 0!important;
    text-align: center!important;
    margin: 70px 0;
}

.title p {
    margin: 0;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 400;
}

.title h3 {
    margin: 0;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 1.5rem;
    line-height: 1.4;
}

.title::after {
    content: '';
    width: 50px;
    height: 6px;
    display: block;
    background: var(--primary-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    border-radius: 8px;
}

.list-search-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-search-items > div {
    width: 20%;
}

.list-search-items > div > div {
    width: 90%;
}


.search-button {
    /* float: right; */
    padding: 15px 0px 15px 0px;
    width: 150px;
    margin-right: 0px;
    margin-left: auto;
}

.search-button > button {
    background: var(--primary-color);
    border: 1px solid transparent;
    color: white;
    border-radius: 5px;
    padding: 0px 40px;
    line-height: 53px;
    font-size: .875rem;
}

.search-button > button:hover {
    cursor: pointer;
    background: var(--secondary-color);
}

/* Cover */
.ev-hero-image {
	background-image: url('../image/bg-img-1.jpg') !important;
}

.ev-hero-image .ev-hero-image-overlay {
	background-color: var(--secondary-alpha-Dot85);
	width: 100%;
	height: 700px;
}

.ev-hero-image .uk-button-primary{
	color: #ffffff !important;
	font-weight: 600 !important;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.ev-hero-image .uk-button-primary:hover{
	color: var(--primary-color) !important;
	background-color: #ffffff !important;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.ev-hero-image h1{
	color: #ffffff !important;
}

.ev-hero-image h4{
	color: rgba(255, 255, 255, 0.60) !important;
}

.ev-hero-image .uk-button-primary i{
	font-size: 18px;
	vertical-align: middle;
}

.uk-button-primary{
	background-color: var(--primary-color) !important;
}

.ev-hero-image .uk-button-primary{
	color: #ffffff !important;
	font-weight: 600 !important;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.ev-hero-image .uk-button-primary:hover{
	color: var(--primary-color) !important;
	background-color: #ffffff !important;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

/* Search bar */

.ev-section-light{
	background-color: #fdfdfd;
}

.ev-bottom-border{
	border-bottom: 1px solid #ddd;
}
.ev-container-search{
	margin: auto;
	padding: 0 30px;
	max-width: 90vw;
}
.ev-section-padding-v-m{
	padding-top: 60px;
	padding-bottom: 60px;
}
.ev-advanced-search .uk-button-primary{
	font-weight: 600 !important;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.ev-advanced-search .uk-button-primary:hover{
	background-color: var(--secondary-color) !important;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.ev-title-dark{
	margin: 70px 0;
}

.ev-title-dark h3{
	margin: 0;
	font-weight: 700;
	letter-spacing: 0.5px;
}

.ev-title-dark p{
	margin: 0;
	opacity: 0.8;
	font-size: 20px;
	font-weight: 400;
}

.ev-title-dark:after{
	content: '';
	width: 50px;
	height: 6px;
	display: block;
	background: var(--primary-color);
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	border-radius: 8px;
}
.ev-other-features .uk-checkbox{
	height: 20px;
	width: 20px;
	border-radius: 3px;
	margin-right: 8px;
}

.ev-other-features{
	margin: 20px 0 0 0;
}

.ev-other-features .uk-accordion-title{
	font-size: 14px;
	font-weight: 500;
}

.ev-other-features .uk-accordion-content{
	display: none;
	padding: 10px 38px;
}

.ev-other-features .uk-accordion-title::after{
	content: "";
	width: 1.4em;
	height: 1.4em;
	margin-right: 10px;
	float: left;
	background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.ev-other-features .uk-open>.uk-accordion-title::after {
	background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E);
}

.ev-other-features .uk-accordion-title::before{
	display: none !important;
}

.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked{
	background-color: var(--primary-color) !important;
}

.uk-checkbox:focus, .uk-radio:focus{
	border-color: var(--primary-color) !important;
}