
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";
@import "react-slideshow-image/dist/styles.css";

@import url("./Style.css");


/* ----------------------------------------------------------- */
/* COMMON STYLES */
/* ----------------------------------------------------------- */
html{
  scroll-behavior: smooth;
}
body{
	font-family: Montserrat,sans-serif !important;
}

small{
	font-weight: 300;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  padding-left: 10px;
}
ul > li {
  list-style: none;
}
/* Cover */
.each-slide{
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  width: 100%;
}
.each-image-cover{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*width: 100%;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  background-blend-mode: normal; */
  background-color: var(--secondary-alpha-Dot85);

}
.homecover-hero-image {
  background-image: url('../image/bg-img-1.jpg') !important;
  overflow: hidden;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222;
}

.homecover-hero-image .homecover-hero-image-overlay {
	background-color: var(--secondary-alpha-Dot85);
	width: 100%;
	height: 90vh;
}

.homecover-hero-image .homecover-button-primary{
	color: #ffffff !important;
	font-weight: 600 !important;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.homecover-hero-image .homecover-button-primary:hover{
	color: var(--primary-color) !important;
	background-color: #ffffff !important;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.homecover-hero-image h1{
	color: #ffffff !important;
}

.homecover-hero-image h4{
	color: rgba(255, 255, 255, 0.60) !important;
}

.homecover-hero-image .homecover-button-primary i{
	font-size: 18px;
	vertical-align: middle;
}

.homecover-button-primary{
	background-color: var(--primary-color) !important;
}

.homecover-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative !important;
}
.homecover-flex::after,
.homecover-flex::before {
  display: none;
}

.homecover-position-z-index {
  z-index: 1;
}

.slide-container{
  position: relative;
}

.homecover-text-center {
  text-align: center !important;
  position: absolute;
  margin: auto;
  z-index: 1;
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
.homecover-text-bold {
  font-weight: 700;
}
.homecover-margin {
  margin-bottom: 40px !important;
  margin-top: 10px !important;
}
.homecover-button {
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
}
.homecover-button:not(:disabled) {
  cursor: pointer;
}
.homecover-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.homecover-button:hover {
  text-decoration: none;
}
.homecover-button:focus {
  outline: 0;
}
.homecover-button-primary {
  background-color: #1e87f0;
  color: #fff;
  border: 1px solid transparent;
}
.homecover-button-primary:focus,
.homecover-button-primary:hover {
  background-color: #0f7ae5;
  color: #fff;
}
.homecover-button-primary.homecover-active,
.homecover-button-primary:active {
  background-color: #0e6dcd;
  color: #fff;
}
.homecover-button-primary:disabled {
  background-color: transparent;
  color: #999;
  border-color: #e5e5e5;
}
.homecover-button-large {
  padding: 0 40px;
  line-height: 53px;
  font-size: 0.875rem;
}
.homecover-border-pill {
  border-radius: 500px;
}

/* Search bar */
.search-section{
  background-color: #fdfdfd;
}

.search-container{
	margin: auto;
  width: 90vw;
  padding-top: 25px;
	padding-bottom: 0px;
}

.search-container .search-button-primary{
	font-weight: 600 !important;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.search-container .search-button-primary:hover{
	background-color: var(--secondary-color) !important;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.search-title{
  margin: 35px 0;
  margin-top: 0 !important;
  text-align: center !important;
}

.search-title h3{
	margin: 0;
	font-weight: 700;
	letter-spacing: 0.5px;
}

.search-title p{
	margin: 0;
	opacity: 0.8;
	font-size: 20px;
	font-weight: 400;
}

.search-title:after{
	content: '';
	width: 50px;
	height: 6px;
	display: block;
	background: var(--primary-color);
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	border-radius: 8px;
}

.search-checkbox:checked, .search-checkbox:indeterminate{
	background-color: var(--primary-color) !important;
}

.search-checkbox:focus{
	border-color: var(--primary-color) !important;
}

.search-grid-small > * {
  padding-left: 15px;
}

.search-grid + .search-grid-small{
  margin-top: 15px;
}
.search-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -30px;
}
.search-grid > * {
  margin: 0;
  padding-left: 30px;
}
.search-grid > * > :last-child {
  margin-bottom: 0;
}

.search-grid + .search-grid{
  margin-top: 30px;
}

.search-width {
  width: 50%;
}
.search-margin {
  margin-bottom: 20px !important;
}
* + .search-margin {
  margin-top: 20px !important;
}
[class*="search-inline"] {
  display: inline-block;
  position: relative;
  max-width: 100%;
  vertical-align: middle;
}
.search-accordion {
  padding: 0;
  list-style: none;
}
.search-accordion > :nth-child(n + 2) {
  margin-top: 20px;
}
.search-accordion-title {
  display: block;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #333;
  overflow: hidden;
}

.search-accordion-title:focus,
.search-accordion-title:hover {
  color: #666;
  text-decoration: none;
  outline: 0;
}
.search-accordion-content {
  margin-top: 20px;
}
.search-accordion-content::after,
.search-accordion-content::before {
  content: "";
  display: table;
}
.search-accordion-content::after {
  clear: both;
}
.search-accordion-content > :last-child {
  margin-bottom: 0;
}

.search-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -30px;
}

.search-button {
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
}
.search-button:not(:disabled) {
  cursor: pointer;
}
.search-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.search-button:hover {
  text-decoration: none;
}
.search-button:focus {
  outline: 0;
}
.search-button-primary {
  background-color: #1e87f0;
  color: #fff;
  border: 1px solid transparent;
  background-color: var(--primary-color) !important;
}
.search-button-primary:focus,
.search-button-primary:hover {
  background-color: #0f7ae5;
  color: #fff;
}
.search-button-primary.search-active,
.search-button-primary:active {
  background-color: #0e6dcd;
  color: #fff;
}
.search-button-primary:disabled,
.search-button-secondary:disabled {
  background-color: transparent;
  color: #999;
  border-color: #e5e5e5;
}
.search-button-large {
  padding: 0 40px;
  line-height: 53px;
  font-size: 0.875rem;
}
.search-border-rounded {
  border-radius: 5px;
}
.search-margin-small-top {
  /* margin-top: 10px !important; */
}
.search-text-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-h3, h3 {
  font-size: 1.5rem;
  line-height: 1.4;
}

.search-grid-small {
  margin-left: -15px;
}

[class*="search-width"] {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.search-other-features .search-checkbox{
	height: 20px;
	width: 20px;
	border-radius: 3px;
  margin-right: 8px;
}

.search-other-features{
  padding-left: 0px;
  color: black;
}
.search-other-features > li {
  padding-left: 0px;
}

.search-other-features .search-accordion-title{
	font-size: 14px;
	font-weight: 500;
}

.search-other-features .search-accordion-content{
	padding: 0px 38px;
}

.search-other-features .search-accordion-title::after{
	content: "";
	width: 1.4em;
	height: 1.4em;
	margin-right: 10px;
	float: left;
	background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.search-other-features .search-open>.search-accordion-title::after {
	background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E);
}

.search-other-features .search-accordion-title::before{
	display: none !important;
}

.search-checkbox:focus {
	border-color: var(--primary-color) !important;
}

.search-accordion-content {
  margin-top: 20px;
}
.search-accordion-content::after,
.search-accordion-content::before {
  content: "";
  display: table;
}
.search-accordion-content::after {
  clear: both;
}
.search-accordion-content > :last-child {
  margin-bottom: 0;
}
.search-grid-small {
  margin-left: -15px;
}
.search-grid-small > * {
  padding-left: 15px;
}
.search-other-margin {
  margin-bottom: 15px;
}
.search-checkbox {
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  font: inherit;
}
.search-checkbox:not(:disabled) {
  cursor: pointer;
}
.search-checkbox {
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
  margin-top: -4px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #ccc;
  transition: 0.2s ease-in-out;
  transition-property: background-color, border;
}
.search-checkbox:focus {
  outline: 0;
  border-color: #1e87f0;
}

.search-checkbox:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.search-checkbox:indeterminate {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23fff%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.search-checkbox:disabled{
  background-color: #f8f8f8;
  border-color: #e5e5e5;
}
.search-checkbox:disabled:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.search-checkbox:disabled:indeterminate {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23999%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E");
}

@media (max-width: 640px) {
  .search-width {
    width: 50%;
  }
}

@media (min-width: 640px) {
  .search-width {
    width: 50%;
  }
  .search-width-1-2\@s {
    width: 50%;
  }
}

@media (min-width: 960px) {
  .search-width{
    width: 33% !important;
  }

  .search-width-button {
    width: 20%;
    margin-left: auto;
    flex-grow: unset;
  }
  
  .search-width-5-6\@m {
    width: calc(100% * 5 / 6.3);;
  }
  .search-width-1-3\@m {
    width: 33% !important;
  }
}

@media (min-width: 1200px) {
  
  .search-grid {
    /* margin-left: -40px; */
  }
  .search-grid > * {
    /* padding-left: 40px; */
  }
  * + .search-grid-margin,
  .search-grid + .search-grid{
    margin-top: 40px;
  }
  .search-width {
    width: 16.66666666666% !important;
  }
  .search-width-1-4\@l {
    width: 25% !important;
  }
}

@media (min-width: 1366px) {
  .search-container {
    width: 90vw;
  }
}