@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900";
@import url("./Style.css");

body{
	font-family: Montserrat,sans-serif !important;
}

small{
	font-weight: 300;
}

.ev-header-1 {
	height: 10vh;
	position: relative;
}

.navbar-section-primary{
	background: var(--primary-color) !important;
}
.ev-container{
	margin: auto;
	padding: 0 10px;
	max-width: 90vw;
}

.navbar-logo {
  width: 200px;
  height: auto;
}

.navbar {
	display: flex;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 90vw;
}

.navbar-right-element{
	margin: 0;
}

.navbar-right-element a:hover {
	color: #ffffff !important;
}

.navbar-section-primary:not(.navbar-preserve-color) {
  color: rgba(255, 255, 255, 0.7);
}
.navbar-section-primary:not(.navbar-preserve-color) .navbar-logo,
.navbar-section-primary:not(.navbar-preserve-color) .navbar-logo:focus,
.navbar-section-primary:not(.navbar-preserve-color) .navbar-logo:hover,
.navbar-section-primary:not(.navbar-preserve-color) .navbar-subnav > * > a:focus,
.navbar-section-primary:not(.navbar-preserve-color) .navbar-subnav > * > a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-section-primary:not(.navbar-preserve-color) .navbar-subnav > * > :first-child {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-container:not(.navbar-transparent) {
	background: #f8f8f8;
}
.navbar-container > ::after,
.navbar-container > ::before {
	display: none !important;
}
.navbar-container > .navbar-left {
	margin-left: -15px;
	margin-right: -15px;
}
.navbar-container > .navbar-right {
	margin-right: -15px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
}

.navbar-logo:focus,
.navbar-logo:hover {
  color: #666;
  outline: 0;
  text-decoration: none;
}

.navbar-subnav {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  padding: 0;
  list-style: none;
}
.navbar-subnav > * {
  flex: none;
  padding-left: 20px;
  position: relative;
}
.navbar-subnav > * > :first-child {
  display: block;
  color: #999;
  font-size: 0.875rem;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color;
}
.navbar-subnav > * > a:focus,
.navbar-subnav > * > a:hover {
  color: #666;
  text-decoration: none;
  outline: 0;
}
.navbar-subnav > .navbar-active > a {
  color: #333;
}
.navbar-subnav-divider {
  margin-left: -41px;
}
.navbar-subnav-divider > * {
  display: flex;
  align-items: center;
}
.navbar-subnav-divider > ::before {
  content: "";
  height: 1.5em;
  margin-left: 0;
  margin-right: 20px;
  border-left: 1px solid transparent;
}
.navbar-subnav-divider > :nth-child(n + 2):not(.navbar-first-column)::before {
  border-left-color: #e5e5e5;
}