.ev-page-title-2{
	background-color: var(--secondary-color) !important;
  padding: 26px 0;
  font-family: 'Montserrat', sans-serif !important;
}
.ev-page-title-2 .title{
	color: #ffffff !important;
	font-weight: 600;
	margin: 0;
}
.ev-page-title-2 .profile-breadcrumb .profile-disabled{
	opacity: 0.6;
}
.ev-page-title-2 .profile-breadcrumb>*>*{
	color: #ffffff !important;
}
.ev-page-title-2 .profile-breadcrumb>:last-child>a:not([href]), .profile-breadcrumb>:last-child>span{
	color: #ffffff !important;
}
.ev-page-title-2 .title::before{
	border-left-color: var(--primary-color) !important;;
}
.ev-container{
	margin: auto;
	padding: 0 30px;
  max-width: 1200px;
  display: flex;
}
.profile-flex {
  display: flex;
}
.profile-flex-middle {
  align-items: center;
}
.profile-flex-center {
  justify-content: center;
}
.margin-left {
  margin-left: auto;
}
.profile-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0px;
}
.profile-breadcrumb > * > * {
  display: inline-block;
  font-size: 0.875rem;
  color: #999;
}
.margin-right {
  margin-right: 10px;
}
.profile-grid-large {
  margin-left: -40px;
  display: flex;
}

/* ////////////////////////////////////////////// */
.ev-page-container{
	margin: auto;
  padding: 40px 30px;
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif !important; 
}
.profile-box-shadow-small {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.profile-border-rounded {
  border-radius: 5px !important;
}
.profile-padding {
  padding: 30px;
}
.profile-margin-remove {
  margin: 0 !important;
}
.profile-text-center {
  text-align: center !important;
}
.profile-width-1-2 {
  width: 50%;
}
* + .profile-margin {
  margin-top: 20px !important;
}
.profile-text-bold {
  font-weight: 600;
}
.profile-text-small {
  font-size: 0.875rem;
  line-height: 1.5;
}
.profile-list {
  padding: 0;
  list-style: none;
}
.profile-list > li:nth-child(n + 2),
.profile-list > li > ul {
  margin-top: 10px;
}
.ev-list>li:before{
	margin-right: 8px;
	content: '-' !important;
	display: inline-block !important;	
}
.ev-link-secondary{
	color: var(--secondary-color) !important;
}
.ev-link-secondary:hover {
  text-decoration: none;
}
.profile-button {
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
}
.profile-button {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600 !important;
}
.profile-button:not(:disabled) {
  cursor: pointer;
}
.profile-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.profile-button:hover {
  text-decoration: none !important;
  /* background-color: var(--secondary-color) !important; */
}
.profile-button:focus {
  outline: 0;
}
.profile-button-default {
  background-color: transparent;
  color: #333;
  border: 1px solid #e5e5e5;
}
.profile-button-default:focus,
.profile-button-default:hover {
  background-color: transparent;
  color: #333;
  border-color: #b2b2b2;
}
.profile-button-default.profile-active,
.profile-button-default:active {
  background-color: transparent;
  color: #333;
  border-color: #999;
}
.profile-button-default:disabled,
.profile-button-primary:disabled {
  background-color: transparent;
  color: #999;
  border-color: #e5e5e5;
}
.profile-text-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
td.profile-text-truncate,
th.profile-text-truncate {
  max-width: 0;
}
.profile-margin-small-right {
  margin-right: 10px !important;
}
.profile-heading-line {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif !important;
}
.profile-heading-line > * {
  display: inline-block;
  position: relative;
}
.profile-heading-line > ::after,
.profile-heading-line > ::before {
  content: "";
  position: absolute;
  top: calc(50% - ((0.2px + 0.05em) / 2));
  width: 2000px;
  border-bottom: calc(0.2px + 0.05em) solid #e5e5e5;
}
.profile-heading-line > ::before {
  right: 100%;
  margin-right: calc(5px + 0.3em);
}
.profile-heading-line > ::after {
  left: 100%;
  margin-left: calc(5px + 0.3em);
}
.profile-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile-second-column {
  margin-left: auto;
}
.profile-form-label, .password-form-label {
  color: #333;
  font-size: 0.975rem;
}
.profile-input {
  overflow: visible;
}
.profile-input {
  -webkit-appearance: none;
}
.profile-input {
  width: 100%;
  border: 0 none;
  padding: 0 10px;
  background: #fff;
  color: #666;
  border: 1px solid #e5e5e5;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
  box-sizing: border-box;
}
.profile-input {
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  font: inherit;
}
.profile-input:focus {
  outline: 0;
  background-color: #fff;
  color: #666;
  border-color: var(--primary-color);
}
.profile-button-primary {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid transparent;
}
.profile-button-primary:focus,
.profile-button-primary:hover {
  background-color: var(--secondary-color);
  color: #fff;
}
.profile-button-primary.profile-active,
.profile-button-primary:active {
  background-color: var(--primary-color);
  color: #fff;
}
.profile-grid-margin {
  margin-top: 30px;
}
/* Change password */
.changePassword {
  display: flex;
  flex-wrap: wrap;
}
.changebutton {
  margin-top: 30px;
}

@media (max-width:640px) {
  .profile-width-1-4 {
    width: 100%;
  }
  .user-profile, .user-changepassword {
    max-width: 100%;
    margin-top: 40px;
  }
  .profile-width-1-1, .change-width {
    width: 100%;
  }
  .profile-first-column, .profile-second-column {
    width: 100%;
  }
  .profile-second-column, .change-padding {
    margin-top: 30px;
  }
}

@media (min-width:640px) {
  .profile-width-1-4 {
    width: 100%;
  }
  .user-profile, .user-changepassword {
    max-width: 100%;
    margin-top: 40px;
  }
  .profile-width-1-1 {
    width: 100%;
  }
  .profile-first-column, .profile-second-column {
    width: 47.5%;
  }
  .user-changepassword {
    width: 100% !important;
  }
  .change-width {
    width: 31% !important;
  }
  .change-padding {
    margin-left: auto !important;
  }
}

@media (min-width:960px) {
  .profile-width-1-4 {
    width: 20%;
  }
  .user-profile {
    max-width: 75.5%;
    padding-left: 40px;
    margin-top: 0px;
  }
  .profile-first-column, .profile-second-column {
    width: 48%;
  }
  .user-changepassword {
    width: 75.5% !important;
    padding-left: 40px;
    margin-top: 0px;
  }
  .change-width {
    width: 31%;
  }
  .change-padding {
    margin-left: auto;
  }
}