@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900";
@import url("./Style.css");

.signup-background-cover {
	background-image: url("../image/bg-img-1.jpg");
	background-size: cover !important;
	background-repeat: no-repeat;
	height: 100vh !important;
	background-position: 50% 50%;
}

.signup-light{
	color: #ffffff !important;
}

.signup-overlay-secondary{
	background: var(--secondary-alpha-Dot85) !important;
}

.signup-width {
    max-width: 70vw !important;
}

.signup-logo {
	width: 50%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.signup-option-container {
	display: inline-flex;
}

.signup-option {
	text-align: center;
	margin: 30px 0;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	width: 50%;
}
.signup-option .option-content {
	height: 85%;
}
.signup-option .option-button {
	height: 15%;
}

.signup-option-container > :first-child::before {
	content: "";
	height: 40%;
	width: 17.5%;
	position: absolute;
	border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.signup-button {
	width: 50% !important;
	background-color: var(--primary-color);
}

.signup-button:hover {
    color: var(--primary-color) !important;
    background: #ffffff !important;
}

.signup-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.signup-light a {
	color: #fff;
}
.signup-light a:hover {
	color: #fff;
}
.signup-light h1,
.signup-light h2,
.signup-light h3,
.signup-light h4,
.signup-light h5,
.signup-light h6 {
	color: #fff;
}
.signup-light .signup-heading-line > ::after,
.signup-light .signup-heading-line > ::before {
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

.signup-position-cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.signup-position-z-index {
	z-index: 1 !important;
}
.signup-heading-line {
	overflow: hidden;
	font-size: 1.5rem !important;
	text-align: center;
}
.signup-heading-line > * {
	display: inline-block;
	position: relative;
}
.signup-heading-line > ::after,
.signup-heading-line > ::before {
	content: "";
	position: absolute;
	top: calc(50% - ((0.2px + 0.05em) / 2));
	width: 2000px;
	border-bottom: calc(0.2px + 0.05em) solid #e5e5e5;
}
.signup-heading-line > ::before {
	right: 100%;
	margin-right: calc(5px + 0.3em);
}
.signup-heading-line > ::after {
	left: 100%;
	margin-left: calc(5px + 0.3em);
}
.signup-text-bold {
	font-weight: 600 !important;
}
.signup-button {
	margin: 0;
	border: none;
	overflow: visible;
	font: inherit;
	color: inherit;
	text-transform: none;
	-webkit-appearance: none;
	border-radius: 0;
	display: inline-block;
	box-sizing: border-box;
	padding: 7px 20px;
	vertical-align: middle;
	font-size: 0.875rem;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.1s ease-in-out;
	transition-property: color, background-color, border-color;
}
.signup-button:not(:disabled) {
	cursor: pointer;
}
.signup-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.signup-button:hover {
	text-decoration: none;
}
.signup-button:focus {
	outline: 0;
}
.signup-border-pill {
	border-radius: 500px;
}

@media (max-width: 400px) {
	.signup-width {
		max-width: 90% !important;
	}
	.signup-logo {
		width: 70%;
		margin-top: 20px;
	}
	.signup-heading-line {
		font-size: 1rem !important;
		margin-top: 20px !important;
	}
	.signup-option-container > :first-child::before {
		width: 22.5%;
		/* height: 48%; */
	}
	h2 {
		font-size: 1.25rem;
	}
	h4 {
		font-size: 1rem;
	}
	.signup-button {
		font-size: 0.8rem !important;
		width: 90% !important;
	}
}
@media (min-width: 401px) {
	.signup-width {
		max-width: 90% !important;
	}
	.signup-logo {
		width: 60%;
	}
	.signup-heading-line {
		font-size: 1.2rem !important;
		margin-top: 20px !important;
	}
	.signup-option-container > :first-child::before {
		width: 22.5%;
		height: calc(40% + 1.5em);
	}
	h2 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1.25rem;
	}
	.signup-button {
		font-size: 1rem !important;
		width: 90% !important;
	}
}
@media (min-width: 640px) {
	.signup-width {
		max-width: 70% !important;
	}
	.signup-logo {
		width: 50%;
	}
	.signup-heading-line {
		font-size: 1.3rem !important;
		margin-top: 20px !important;
	}
	.signup-option-container > :first-child::before {
		width: 17.5%;
		height: calc(38% + 1.5em);
	}
	h2 {
		font-size: 1.8rem;
	}
	h4 {
		font-size: 1.25rem;
	}
	.signup-button {
		font-size: 1rem !important;
		width: 60% !important;
	}
}

@media (min-width: 960px) {
	.signup-width {
		max-width: 60% !important;
	}
	.signup-logo {
		width: 50%;
	}
	.signup-heading-line {
		font-size: 1.3rem !important;
	}
	.signup-option-container > :first-child::before {
		width: 15%;
		height: calc(35% + 1.5em);
	}
	h2 {
		font-size: 1.9rem;
	}
	h4 {
		font-size: 1.4rem;
	}
	.signup-button {
		font-size: 1rem !important;
		width: 60% !important;
	}
}
@media (min-width: 1200px) {
	.signup-logo {
		width: 40%;
	}
}