.position-fixed-bottom-right {
	position: relative;
	height: 8vh;
	width: 100%;
	background-color: #fff;
}

.form {
	display: flex;
	border-top: 2px solid #d3d3d3;
}

.input {
	border: none;
	width: 100%;
	padding: 10px;
	font-size: 1.2em;
	margin-right: 5px;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

.sendButton {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #bf7c2f;
	padding: 10px;
	border-radius: 40px;
	display: inline-block;
	border: none;
	width: 20%;
}