.admin-page {
  margin-top: 1rem;
  .ant-spin {
    div {
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      position: absolute;
    }
  }
  .ant-tabs {
    .ant-tabs-tab {
      .ant-tabs-tab-btn {
        color: #bf7c2f;
        font-weight: 700;
      }
    }
    .ant-tabs-ink-bar {
      background-color: #bf7c2f;
    }
  }
}
